{% extends 'operator_interface/base.html' %}

{% block content %}
    <aside class="mdc-drawer mdc-drawer--dismissible">
        <div class="mdc-drawer__header">
            <h3 class="mdc-drawer__title">Operator Interface</h3>
            <h6 class="mdc-drawer__subtitle">{{ request.user.first_name }} {{ request.user.last_name }}</h6>
        </div>
        <div class="mdc-drawer__content">
            <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list">
                <li class="mdc-list-item">
                    <span class="mdc-list-item__graphic">
                    </span>
                    <span class="mdc-list-item__text">
                      <span class="mdc-list-item__primary-text">First-line text</span>
                      <span class="mdc-list-item__secondary-text">Second-line text</span>
                    </span>
                    <span class="mdc-list-item__meta">
                        !
                    </span>
                </li>
                <li class="mdc-list-item">
                    <span class="mdc-list-item__text">
                      <span class="mdc-list-item__primary-text">First-line text</span>
                      <span class="mdc-list-item__secondary-text">Second-line text</span>
                    </span>
                </li>
                <li class="mdc-list-item">
                    <span class="mdc-list-item__text">
                      <span class="mdc-list-item__primary-text">First-line text</span>
                      <span class="mdc-list-item__secondary-text">Second-line text</span>
                    </span>
                </li>
            </ul>
        </div>
    </aside>

    <div class="mdc-drawer-app-content">
        <header class="mdc-top-app-bar app-bar" id="app-bar">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <a href="#" class="demo-menu material-icons mdc-top-app-bar__navigation-icon">menu</a>
                    <span class="mdc-top-app-bar__title">A Person</span>
                </section>
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
                    <button class="mdc-button">
                        <span class="mdc-button__label">End conversation</span>
                    </button>
                </section>
            </div>
        </header>

        <main class="main-content" id="main-content">
            <div class="mdc-top-app-bar--fixed-adjust">
                App Content
            </div>
        </main>
    </div>

    <script>
        let lastMessage = 0;

        const drawer = mdc.drawer.MDCDrawer.attachTo(document.querySelector('.mdc-drawer'));
        const listEl = document.querySelector('.mdc-drawer .mdc-list');
        drawer.open = true;
        const topAppBar = mdc.topAppBar.MDCTopAppBar.attachTo(document.getElementById('app-bar'));
        topAppBar.setScrollTarget(document.getElementById('main-content'));
        topAppBar.listen('MDCTopAppBar:nav', () => {
            drawer.open = !drawer.open;
        });


        const conversations = {};

        sock.onopen = () => {
            sock.send(JSON.stringify({
                "type": "resyncReq",
                "lastMessage": lastMessage
            }));
        };

        sock.onmessage = (msg) => {
            const data = JSON.parse(msg.data);

            conversations[data.conversation.id] = data.conversation;
        }
    </script>
{% endblock %}