<!DOCTYPE html>
<html class="gr__pp_botscrew_com">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>Privacy Policy</title>

    <style>
        body {
            margin: 30px auto;
            max-width: 800px;
            font-family: "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
            padding: 25px 30px;
            font-size: 70%;
        }

        div {
            padding-bottom: 21px;
            border-bottom: 1px dotted #dfdfdf;
        }
    </style>
</head>
<body data-gr-c-s-loaded="true">
<div>
    <h1>Privacy Policy of the We Will Fix Your PC Customer Messaging Service</h1>
    <h3>Last modified: 2019-08-07</h3>
    <p>In order to receive information about your Personal Data, the purposes and the parties the Data is shared with,
        contact the Data Controller.</p>
</div>
<div>
    <h2>TL;DR</h2>
    <ol>
        <li>Your name and profile picture will be collected and stored to identify you in conversations.</li>
        <li>If you choose to provide your email and/or phone number it will be stored for future conversations.</li>
        <li>Card payments are handled by third parties.</li>
        <li>Card details are not stored and will only be used to process one transaction unless otherwise explicitly
            stated</li>
        <li>If we request your IMEI it is only in cases where it is absolutely necessary to prove the requested
            service, and it will be stored with the utmost security.</li>
        <li>Your conversation history will be stored and may later be analyzed to improve services.</li>
        <li>If any of this is unclear, or you wish to opt out of aditional processing of your data you may contact
            the Data Controller at the email listed below.</li>
    </ol>
</div>
<div>
    <h2>Data Controller</h2>
    <p>Business address: 39 Lambourne Crescent, Cardiff Business Park, Llanishen, Cardiff CF14 5GG</p>
    <p>Data Contact Name: Q Misell</p>
    <p>Data Contact Email: q@misell.cymru</p>
</div>
<div>
    <h2>Types of Data collected</h2>
    <p>The Users's first and last name, and profile picture will be collect for the purposes being shown to live agents
        to provide the requested services, if and when the Users initiates a conversation with the Business.</p>
    <p>In the case of placing an order the Users phone number and email address will be stored for the purposes of
        facilitating further contact to update the User on their order progress.</p>
    <p>In the case of taking card payments the users card number, expiry date, and CVC will be collected by the
        Application but will not be stored for any time longer than absolutely required to process said payment.
        This data may be sent to third party payment processors to complete the payment and will be processed according
        to their privacy policy. The User may request which payment processors their data has been sent to at any time
        by contacting the Data Controller above. <br>
        The Application will not store the card details on file itself or with any third party unless explicitly stated
        by the application at the time of collecting card details and requested by the User, excluding the last 4 digits
        of the card number to allow the User to identify what payment method they used.</p>
    <p>If the Application requests the User's IMEI it will only be used to facilitate the requested actions and will not
        be used for further actions not requested by the User at the time of providing their IMEI.</p>

    <p>Other Personal Data collected may be described in
        other sections of this privacy policy or by dedicated explanation text
        contextually with the Data collection.<br>The Personal Data may be freely provided by the User, or collected
        automatically when using this Application.<br>Any
        use of Cookies - or of other tracking tools - by this Application or by
        the owners of third party services used by this Application, unless
        stated otherwise, serves to identify Users and remember their
        preferences, for the sole purpose of providing the service required by
        the User.<br>Failure to provide certain Personal Data may make it impossible for this Application to provide its
        services.</p>
    <p>Users are responsible for any Personal Data of
        third parties obtained, published or shared through this Application and
        confirm that they have the third party's consent to provide the Data to
        the Owner.</p>
</div>

<div>
    <h2>Mode and place of processing the Data</h2>

    <h3>Methods of processing</h3>
    <p>The Data Controller processes the Data of Users
        in a proper manner and shall take appropriate security measures to
        prevent unauthorized access, disclosure, modification, or unauthorized
        destruction of the Data.<br>The Data processing is carried out using
        computers and/or IT enabled tools, following organizational procedures
        and modes strictly related to the purposes indicated. In addition to the
        Data Controller, in some cases, the Data may be accessible to certain
        types of persons in charge, involved with the operation of the site
        (administration, sales, marketing, legal, system administration, developers) or
        external parties (such as third party technical service providers, mail
        carriers, hosting providers, IT companies, communications agencies)
        appointed, if necessary, as Data Processors by the Owner. The updated
        list of these parties may be requested from the Data Controller at any
        time.</p>

    <h3>Place</h3>
    <p>The Data is processed at the Data Controller's
        operating offices and in any other places where the parties involved
        with the processing are located. For further information, please contact
        the Data Controller.</p>

    <h3>Retention time</h3>
    <p>The Data is kept for the time necessary to
        provide the service requested by the User, or stated by the purposes
        outlined in this document, and the User can always request that the Data
        Controller remove the data by using the above contact details.</p>
</div>

<div class="one_line_col">
    <h2>The use of the collected Data</h2>
    <p>The Personal Data collected shall be used by the Application as needed to provide the services requested
        by the user. Personal Data may also retained and used for internal analysis of the Application's
        performance and to aid the Owner in improving the services requested. A User may request that their data is
        not used for this purpose, however it may negatively affect the performance of the Application.
    </p>
</div>

<div>
    <h2>Facebook permissions asked by this Application</h2>
    <p>This Application may ask for some Facebook permissions allowing it to perform actions with the User's Facebook
        account and to retrieve information, including Personal Data, from it.</p>
    <p>For more information about the following permissions, refer to the <a
            href="https://developers.facebook.com/docs/authentication/permissions/" target="_blank">Facebook permissions
        documentation</a> and to the <a href="https://www.facebook.com/about/privacy/" target="_blank">Facebook privacy
        policy</a>.</p>

    <p>The permissions asked are the following:</p>
    <h3>Basic information</h3>
    <p>By default, this includes certain User’s Data
        such as id, name, and picture.</p>
    <h3>Timezone</h3>
    <p>This is used to provide accurate parsing of time data given by the User, in the Users local timezone</p>
</div>

<div>
    <h2>Additional information about Data collection and processing</h2>

    <h3>Legal action</h3>
    <p>
        The User's Personal Data may be used for legal urposes by the Data Controller, in Court or in the stages leading
        to possible legal action arising from improper use of this Application or the related services.<br>
        The User declares to be aware that the Data Controller may be required to reveal personal data upon request of
        public authorities.
    </p>

    <h3>Additional information about User's Personal Data</h3>
    <p>
        In addition to the information contained in this privacy policy, this Application may provide the User with
        additional and contextual information concerning particular services or the collection and processing of
        Personal Data upon request of said Personal Data.
    </p>

    <h3>System logs and maintenance</h3>
    <p>
        For operation and maintenance purposes, this Application and any third party services may collect files that
        record  interaction with this Application (System logs) or use for this purpose other Personal Data
        (such as IP Address).
    </p>

    <h3>Information not contained in this policy</h3>
    <p>
        More details concerning the collection or processing of Personal Data may be requested from the Data Controller
        at any time. Please see the contact information at the beginning of this document.
    </p>

    <h3>The rights of Users</h3>
    <p>
        Users have the right, at any time, to know  whether their Personal Data has been stored and can consult the Data
        Controller to learn about their contents and origin, to verify their accuracy or to ask for them to be
        supplemented, cancelled, updated or corrected, or for their transformation into anonymous format or to block
        any data held in violation of the law, as well as to oppose their treatment for any and all legitimate reasons.
        Requests should be sent to the Data Controller at the contact information set out above.
    </p>
    <p>
        This Application does not support “Do Not Track” requests.<br>To
        determine whether any of the third party services it uses honor the “Do
        Not Track” requests, please read their privacy policies.
    </p>

    <h3>Changes to this privacy policy</h3>
    <p>
        The Data Controller reserves the right to make changes to this privacy policy at any time by giving notice to
        its Users on this page. It is strongly recommended to check this page often, referring to the date of the last
        modification listed at the top. If a User objects to any of the changes to the Policy, the User must cease
        using this Application and can request that the Data Controller remove the Personal Data. Unless stated
        otherwise, the then-current privacy policy applies to all Personal Data the Data Controller has about Users.
    </p>

</div>

</body>
</html>