{% extends "registration/base.html" %}

{% block content %}
    <div class="login">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                {% else %}
                    <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}
            <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
                <input type="text" name="username" class="mdc-text-field__input">
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label for="tf-outlined" class="mdc-floating-label">Username</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>
            <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
                <input type="password" name="password" class="mdc-text-field__input">
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label for="tf-outlined" class="mdc-floating-label">Password</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>
            <button class="mdc-button mdc-button--raised" type="submit">
                <span class="mdc-button__label">Login</span>
            </button>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>

    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .login {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            align-items: center;
        }

        .login > form {
            display: grid;
            grid-gap: 10px;
            border: solid 2px #aaa;
            border-radius: 5px;
            padding: 20px;
        }
    </style>
{% endblock %}