Django
djsingleton
django-phonenumber-field
django-cors-headers
dateutils
phonenumbers
mysqlclient
redis
celery
pika
requests
requests_oauthlib
Pillow
redis
pytz
pyjwt
pywebpush
sentry-sdk
inflect
cryptography
rasa_sdk
fuzzywuzzy
channels
gunicorn
channels_redis
psycopg2-binary
daphne
python-Levenshtein
python-magic
