{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messenger payment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'payment/css/payment.css' %}">
</head>
<body>
{% if is_open_payment %}
    <div id="payment" class="payment"></div>
    <script src="https://pay.google.com/gp/p/js/pay.js"></script>
    <script src="{% static 'payment/js/payment.js' %}"></script>
    <script>
        window.onload = function () {
            if (window.makePaymentForm) {
                window.makePaymentForm(document.getElementById("payment"), "{{ payment_id }}", () => {
                    console.log("Closing payment window");
                    window.close();
                }, "{{ accepts_header }}");
            }
        };
    </script>
{% else %}
    <div class="payment">
        <h3>This payment has already been completed</h3>
    </div>
{% endif %}
</body>
</html>